<h1>Listing articles</h1>
<div style="margin-bottom: 15px;">
	<%= link_to 'New article', new_article_path %>
</div>
<div>boring old rails table ...</div>
<div>
	<table>
	  <tr>
	    <th>Title</th>
	    <th>Text</th>
	    <th colspan="3"></th>
	  </tr>
	 
	  <% @articles.each do |article| %>
	    <tr>
	      <td><%= article.title %></td>
	      <td><%= article.text %></td>
	      <td><%= link_to 'Show', article_path(article) %></td>
	      <td><%= link_to 'Edit', edit_article_path(article) %></td>
	      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
	    </tr>
	  <% end %>
	</table>
</div>

</br>
<div>should be replaced with table using Vue, but something seems to not work right ...</div>
<%= content_tag :div,
  id: "articles-vue",
  data: {
    apiurl: articles_url,
  } do %>
		<table>
		  <tr>
		    <th>Title</th>
		    <th>Text</th>
		    <th colspan="3"></th>
		  </tr>
	    <tr v-for="article in articles">
	      <td>{{ article.title }}</td>
	      <td>{{ article.text }}</td>
	    </tr>
		</table>
<% end %>

<% content_for :head do -%> 
  <%= javascript_pack_tag 'articles_vue' %>
<% end %>